*{
    margin: 0;   
    padding: 0;
    }
    
/* <!-- Estilos para la barra de navegación  --> */
.nav{
    position:sticky;
    top:0;
    left: 5.001%;
    outline: 1px solid #000;
    box-shadow: 10px 10px 10px black;
}
nav{    
    width: 90%;
    max-width: 100%;
    margin-top: 1%;
}
    
nav ul{
    list-style: none;
}
    
nav > ul{
    display: table;
    overflow: hidden;
    width: 100%;
    background: #000;
    position: relative;
}
    
nav > ul li{
    display: table-cell;
}
    
nav > ul li a{ 
    color: #fff;
    display: block;
    line-height: 20px;
    padding: 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
    
    
nav > ul > li a span{
    
    background: #174459;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top:-55px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
    
nav > ul > li a span {
    display: block;
    line-height: 43px;
}
    
nav > ul > li a:hover > span{
    top:0;
}
    
nav ul li a .c1{
    background: #0e5061;
}
nav ul li a .c2{
    background: #579c96;
}
nav ul li a .c3{
    background: #991919;
}
nav ul li a .c4{
    background: #263c6b;
}
    
/* <!-- Estilos para el logo y el eslogan  --> */

.container{
    display: flex;
}


.Letras{
    margin-top:3%;
    padding: 1%;
    color: #fff;
    }
    
    .Eslogan{
        margin-top: 0px;
        color: #fff;
    }

    .logo{
        width: 100px;
        height: 100px;
        margin-top: 3%;
        margin-left: 3.1%;
    }
    .header{
        position: relative;
        overflow: visible;

    }

